@font-face {
	font-family: Quicksand;
	src: url("css/Quicksand-Regular.otf") format("opentype");
}

html {
    position: relative;
    min-height: 100%;
    font-family: Georgia;
    font-size: 1.08em;
}


a {
    color: blue;
    cursor: pointer;
  	}

a:hover {
  	color: blue;
  	}

p{
	display: inline;
}

#content{
	padding-right: 2%;
	height: 90%;
	border-right: 2px solid black;
	margin-bottom: 10%;
	padding-top: 2%;
}

.secondary{
	display:none;
	color: red;
}

.secondary:hover{
	cursor: pointer;
}

#totalwords{
	top: 50%;
	margin-left: 40%;
	text-align: center;
	width: 100%;
	margin-top: 10%;
	margin-bottom: 10%;
}

.sidebar{
	height: 90%;
	position: fixed;
	right:5%;
}

.sidebar img{
	margin-top: 10%;
	margin-bottom: 5%;
	margin-left: 65%;
}

#first{
	top: 5%;
}

#second{
	top: 25%;
}

#third{
	top: 65%;
}

#fourth{
	top: 85%;
}